<div>
  <div>
    <table *ngIf="loadedFlag">
      <tr>
        <td>Total Vehicles: {{vehicleCount}} ,</td>
        <td>Filter by Status or Owner Id:</td>
        <td><input matInput (keyup)="applyFilter($event.target.value)" placeholder="eg. dc or con or k123-83"></td>
        <td><a mat-raised-button appToggleFullscreen #fscreen >Fullscreen</a></td>
      </tr>
    </table>
  </div>

  <div *ngIf="!loadedFlag">
    Loading..........
  </div>
  <table id="vehstatus" *ngIf="loadedFlag">
    <tr>
      <th *ngFor="let vCol of vColumns">
        {{vCol}}
      </th>
    </tr>
    <tr *ngFor="let vehicle of vehicles">
      <td>
        {{vehicle.vehicleId}}
      </td>
      <td bgcolor="#32cd32" *ngIf="vehicle.status==='CON'">
        {{vehicle.status}}
      </td>
      <td bgcolor="#cd5c5c" *ngIf="vehicle.status==='DC'">
        {{vehicle.status}}
      </td>
      <td>
        {{vehicle.regNumber}}
      </td>
      <td>
        {{vehicle.customerName}}
      </td>
      <td>
        {{vehicle.ownerId}}
      </td>
      <td>
        {{vehicle.custAddr}}
      </td>
    </tr>
  </table>
</div>

