<div class="col">
  <br/>
  Polten is world biggest vehicle providers, this is status tracking unit!

</div>
<div></div>
<div>
  <p>Please note the basic admin setup to test the application connection status.
    There is Admin tab to control settings & simulation.
  <p>This features adds vehicles with double size with every request or click.<p>
       Come back to Status tab for tracking the current status.
    This status page auto refreshes every minute for latest vehicle status.
  </p>
  <p>The status report can be filtered by status values <B>'dc'</B> or <B>'con'</B> or owner id.</p>

  <p><B>Test Steps for first time users:</B> <br>
    1. Check Status tab , must have zero vehicles.<br>
    2. Go to Admin.<br>
    3. Add vehicles one time click will add 7 ,click twice & add 14 vehicles.(good for viewing all features).<br>
    4. Come back Status page to check status.<br>
    5. Go to Admin page & Enable Simulation link to start vehicles sending their status every minute .<br>
    6. Click status again and leave the screen to full screen for track the Vehicles status<br>
    7. After Testing clear the vehicles from system from Admin page.<br>
  </p>
</div>
