<div class="col">
  <br/>
  Polten is world biggest vehicle providers, this is status tracking unit!

</div>
<div></div>
<div>
  <p>Please note the basic admin setup to test the application connection status.
    There is Admin tab, go there and add some test vehicles.
    <p>This features adds vehicles with double size with every request or click.<p>
    Come back to Status tab for tracking the current status.
    This status page auto refreshes every minute for latest vehicle status.
  </p>
  <p>
    The status report can be filtered by status values 'dc' or 'con'.
  Also Report can be filtered based on the current owner id of the vehicle.</p>

</div>
